@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    var ex = Model.Exception as System.Data.Entity.Validation.DbEntityValidationException;
}

<h1 class="text-danger">/@Model.ControllerName/@Model.ActionName 實體模型驗證失敗!</h1>
<h2 class="text-danger">


        <ul>
            @foreach (var entity in ex.EntityValidationErrors)
            {
                <li>
                    實體模型: @entity.Entry.Entity.GetType().Name<br />
                    <br />
                    <ol>
                        @foreach (var error in entity.ValidationErrors)
                        {
                            <li>
                                屬性名稱: @error.PropertyName<br />
                                錯誤訊息: @error.ErrorMessage<br />
                                <br />
                            </li>
                        }
                    </ol>
                </li>
            }
        </ul>

    </h2>